:root {
    --primary-color: #ffffff;
    --secondary-color: #0f1f3d;
    --accent: #5ec2f2;
    --text-color: #30465a;
    --button-color: #0d6efd;
}
h1{
    font-size: 95px;
    line-height: 90px;
    color: var(--primary-color);
    font-weight: 700;
}
h2{
    font-size: 50px;
    line-height: 54px;
    font-weight: 700; 
    color: var(--secondary-color);
}
.padding-top{
    padding-top: 120px;
}
.padding-bottom{
    padding-bottom: 120px;
}
.generic-button a,
.form-btn button{
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    padding: 10px 9px 9px 37px;
    text-decoration: none;
    display: inline-block;
    border-radius: 32px;
    transition: .4s ease-in-out;
}
.generic-button i,
.form-btn button i {
    padding: 12px 26px;
    border-radius: 24px;
    margin-left: 14px;
    display: inline-block;
    font-size: 20px;
    transition: .4s ease-in-out;
}
.white-btn a{
    color: var(--button-color);
    background: var(--primary-color);
    transition: .4s ease-in-out;
}
.white-btn i{
    color: var(--primary-color);
    background: var(--button-color);
    transition: .4s ease-in-out;
}
.red-btn a,
.red-btn button{
    color: var(--primary-color);
    background: var(--button-color);
    transition: .4s ease-in-out;
}
.red-btn i{
    color: var(--button-color);
    background: var(--primary-color);
    transition: .4s ease-in-out;
}